* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 95%;
  padding-left: 3%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
}

#navbar > ul {
  list-style: none;
  display: flex;
}

#navbar > ul > li {
  padding: 10px;
}

#logo {
  height: 50px;
  width: 150px;
}

#card {
  border: 1px solid black;
  width: 200px;
  margin-top: 10px;
  padding: 10px;
}

#card > img {
  width: 100%;
}

.body {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Responsive grid layout */
  gap: 10px; /* Space between grid items */
}

#shimmer-card {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: lightgrey;
}

#restraunt_info > div {
  padding: 10px;
  margin: 20px;
}

#restraunt_info > div > img {
  height: 400px;
  width: 300px;
  margin: 40px;
}

#restraunt_info > div > ul > img {
  width: 50px;
  height: 50px;
}

#restraunt_info {
  display: flex;
}

#restraunt-menu > ul > li {
  border-bottom: 2px solid grey;
  list-style: none;
}

#restraunt-menu > ul > li > img {
  padding: 10px;
  width: 100px;
  height: 100px;
}

#restraunt-menu > ul > li > h3 {
}

#error-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#error-page > h3 {
  text-align: center;
}

#error-page > button {
  margin-left: 200px;
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
  background-color: orangered;
  color: white;
}
